body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
   
   }

   nav ul {
    margin: 0;
    padding: 0;
    text-align: center;

   }

   nav ul li {
    list-style-type: none;
    display: inline;

    }

    nav ul li a {
        padding: 10px 30px;
        text-decoration: none;
        background-color: cadetblue;
        color: aliceblue;
        display: inline-block;
        margin-right: -3px;
        width: 120px;

    }